@import '../../styles/variables';

.grid{
    width: 90%;
    max-width: 1000px;
    margin: 3rem auto;
    display: grid;
    border-top: $whiteBorder;
    border-left: $whiteBorder;
    grid-template-columns: calc(100%/3) 1fr calc(100%/3);
    justify-items: stretch;

    // TODO: return to this concept
    // grid-template-areas: 
    //     "header header header header"
    //     "main main . sidebar"
    //     "footer footer footer footer";

    // .item{
    //      grid-area: footer;
    // }

    > *{
        border-bottom: $whiteBorder;
        border-right: $whiteBorder;

        padding: 1rem 0;
        text-decoration: none;
    }
    .centered{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    h3, h4{
        padding: .25em 1em;
        font-size: 3vw;
        text-align: center;

        > *{
            font-weight: 800;
        }

        &.alt{
            color: $yellow;
        }
        &.underline{
            border-bottom: $whiteBorder; 
        }
        .light{
            font: $hdrLight;
            font-size: 2.5vw;
        }
    }

    
    // LINK STYLES
    .yellow *,
    .white *{
        color: $green; 
    }
    .green *{
        color: $yellow;
    }
    .yellow{
        background-color: $yellow;
        &:focus{
            outline: 0;
            background-color: $transparentYellow;
            *{
                color: $yellow;
            } 
        }
    }
    .white{
        background-color: white;
        &:focus{
            outline: 0;
            background-color: rgba(255, 255, 255, 0);
            *{
                color: white;
            } 
        }
    }
    .green{
        &:focus{
            outline: 0;
            background-color: $yellow;
            *{
                color: $green;
            } 
        } 
    }

    .lines,
    .image{
        padding: 0;
        display: flex;
        align-items: stretch;
        overflow: hidden;
        > *{
            width: 100%;
        }
    }
    .image{
        grid-row: span 4;
    }

    .tall{
        grid-row: span 2;
    }
    .content{
        margin: 2em 2em 1em 2em;
    }
}