@import '../../styles/variables';

.grid{
    display: grid;
    border-top: $whiteBorder;
    border-left: $whiteBorder;
    justify-items: stretch;

    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
      "about wrkshps stripes1"
      "classCnt img stripes1"
      "stripes2 img partners"
      "contact img partners";

      @include md {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        "about about"
        "wrkshps img"
        "stripes1 img"
        "partners classCnt"
        "partners stripes2"
        "contact contact";
        
        h3, h4{
            padding: .25em 1em;
            font-size: vw;
        }
      }

    > *{
        border-bottom: $whiteBorder;
        border-right: $whiteBorder;

        padding: 1rem 0;
        text-decoration: none;
    }
    .centered{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    h3, h4{
        padding: .25em 1em;
        font-size: 3vw;
        text-align: center;

        > *{
            font-weight: 800;
        }

        &.alt{
            color: $yellow;
        }
        &.underline{
            border-bottom: $whiteBorder; 
        }
        .light{
            font: $hdrLight;
            font-size: 3.5vw;
        }
    }

    
    // LINK STYLES
    .yellow *,
    .white *{
        color: $green; 
    }
    .green *{
        color: $yellow;
    }
    .yellow{
        background-color: $yellow;
        &:focus{
            outline: 0;
            background-color: $transparentYellow;
            *{
                color: $yellow;
            } 
        }
        &:hover{
            background-color: lighten( $yellow, 10% );
        }
    }
    .white{
        background-color: white;
        &:focus{
            outline: 0;
            background-color: rgba(255, 255, 255, 0);
            *{
                color: white;
            } 
        }
        &:hover{
            background-color: darken( white, 10% );
        }
    }
    .green{
        &:focus{
            background-color: $green;
            outline: 0;
            background-color: $yellow;
            *{
                color: $green;
            } 
        } 
        &:hover{
            background-color: darken( $green, 5% );
        }
    }

    .lines{
        padding: 0;
        display: flex;
        > *{
            width: 100%;
        }
    }

    .image{
        padding: 0;
        > *{
            height: 100%;
        }
    }
    .content{
        margin: 2em 2em 1em 2em;
    }
}