@import '../../styles/variables';

.columnContainer{
    // display: grid;
    // justify-items: stretch;

    // grid-template-columns: repeat(3, 1fr);
    // grid-template-areas: 
    //   "about wrkshps stripes1"
    //   "classCnt img stripes1"
    //   "stripes2 img partners"
    //   "contact img partners";

    // border-top: $whiteBorder;
    // border-left: $whiteBorder;

    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    border: $whiteBorder;

    a{
        padding: 1rem;
        flex: auto 1 1;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    h3, h4{
        padding: .25em 1em;
        font-size: 3vw;
        text-align: center;

        > *{
            font-weight: 800;
        }

        &.alt{
            color: $yellow;
        }
        &.underline{
            border-bottom: $whiteBorder; 
        }
        .light{
            font: $hdrLight;
            font-size: 3.5vw;
        }
    }

    @include md {
        // grid-template-columns: repeat(2, 1fr);
        // grid-template-areas: 
        // "about about"
        // "wrkshps img"
        // "stripes1 img"
        // "partners classCnt"
        // "partners stripes2"
        // "contact contact"; 

        flex-wrap: wrap;
        
        a, > *{
            flex: 100% 0 0;
        }
        h3, h4{
            padding: .25em 1em;
            font-size: 5vw;
        }
        .light{
            font-size: 5.5vw;
        }
    }

    
    // LINK STYLES
    .yellow *,
    .white *{
        color: $green; 
        // transition: background-color .3s ease-in-out;
    }
    .yellow{
        background-color: $yellow;
        &:focus{
            outline: 0;
            background-color: $transparentYellow;
            *{
                color: $yellow;
            } 
        }
        &:hover{
            background-color: lighten( $yellow, 10% );
        }
    }
    .white{
        background-color: white;
        &:focus{
            outline: 0;
            background-color: rgba(255, 255, 255, 0);
            *{
                color: white;
            } 
        }
        &:hover{
            background-color: darken( white, 10% );
        }
    }
    .green{
        *{
            color: $yellow;
        }
        &:focus{
            background-color: $green;
            outline: 0;
            background-color: $yellow;
            *{
                color: $green;
            } 
        } 
        &:hover{
            background-color: darken( $green, 5% );
        }
    }

    .lines{
        padding: 0;
        flex: auto 1 1;
        // display: flex;
        > *{
            width: 100%;
        }
    }

    .image{
        flex: auto 1 1;
        padding: 0;
        > *{
            height: 100%;
        }
    }
    .content{
        margin: 2em;
    }
}


.column{
    flex: calc(100% / 3) 0 0;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    &:not(:last-child){
        border-right: $whiteBorder;
    }
    > *:not(:last-child){
        border-bottom: $whiteBorder;
    }

    @include md {
        flex: 100% 0 0;
        flex-direction: row;
        flex-wrap: wrap;

        &:not(:last-child){
            border-right: 0px;
        }

        > *{
            flex: 100% 1 0;
        }
        > .halfWidth{
            flex: 50% 0 0;
        }
    }
}