@import '../styles/variables';

.header{
    margin-bottom: 2em;
}

.heading{
    font: $hdrLarge;
    *{
        font-size: inherit;
    }
    > .light{
        font-weight: 300;
    }
}

.date{
    color: $green; 
    font-weight: bold;
    font-size: 1.5em;
    display: block;
}

.resourcesGrid{
    display: grid;
    border-top: $whiteBorder;
    border-left: $whiteBorder;
    justify-items: stretch;
    margin-top: 2em;

    grid-template-columns: 100px 1fr;
    grid-template-areas: 
      "lines readings"
      "lines lectures"
      "lines gallery"
      "lines links";

      > *{
        border-bottom: $whiteBorder;
        border-right: $whiteBorder;
        padding: 1rem;

    }
    > :first-child{
        padding: 0;
    }
}

.rule{
    background: white;
    margin: 2em 0;
}

.linkList,
.linkList *{
    color: $green;
    list-style: none
}

.linkList{
    margin: .5em 0;
}

.link{
    color: $green;
    text-decoration: underline;
    padding: .25em 0;
    margin-bottom: .5em;

    &:last-child{
        padding: .25em 0 0 0;
        margin-bottom: 0;
    }
}

.galleryImg{
    max-height: 200px;
    max-width: 100%;
    width: auto;
    margin: .5em;
}