@import '../../styles/variables';

.workshopRow{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5rem;

    > :first-child{
        margin-right: 3rem;
    }

    > *{
        width: 45%;
    }

    .thumbnail{
        min-width: 300px;
        position: relative;
    }

    h4,
    h4 *{
        color: $green;
        font-size: 7vw;
        margin-bottom: 1rem;
        letter-spacing: .2rem;
    }

    a{
        text-decoration: none;
        font-weight: bold;
        padding: 1em 0;
        transition: .3s all;
        &:hover,
        &:focus{
            color: $green;
            outline: none;
            border-bottom: $greenBorder;
        }
    }

    @include md {
        flex-direction: column;
        > *{
            width: 100%;
            margin-bottom: 3rem;
        }
        .thumbnail{
            height: 300px;
        }
    }
}

.light{
    font-weight: 300;
}

.workshopRow:nth-child(even){
    flex-direction: row-reverse;
    > :first-child{
        margin-right: 0;
    }
    > :last-child{
        margin-right: 3em;
    }

    @include md {
        flex-direction: column;
    }
}

.imageContainer{
   background-color: $orange;
   width: 95%;
   height: 95%;
   overflow: hidden;
}

.lineOffset
.lineOffset > *{
  position: absolute;
  width: 100%;
  height: 100%;
  
  top: 5%;
  left: 5%;
}

.lineOffset{
    width: 95%;
    height: 95%;
    position: absolute;
    z-index: -1;

    margin-top: 5%;
    margin-left: 5%;
}