/*
COLOUR PALETTE
*/
$green: #307574;
$yellow: #fcea75;
$orange: #fd865a;

$transparentYellow: rgba(252, 234, 117, 0);

$whiteBorder: 5px solid white;
$greenBorder: 5px solid $green;

/*
FONT
*/
@import url("https://use.typekit.net/vbk0jgb.css");
$bodyFont: normal 400 1rem/1em fira-sans, sans-serif;;
$hdrFont: normal 800 1rem/1em atrament-web, sans-serif;
$hdrLight: normal 300 1rem/1em atrament-web, sans-serif;