@import "variables";

*, 
body{
    box-sizing: border-box;
    margin: 0;

    color: white; 
    font: $bodyFont;
    font-size: .9rem;
    line-height: 1.5;
    transition: .3s all;
}

h1, h2, h3, h4, h5, h6,
h1 *, h2 *, h3 *, h4 *, h5 *, h6 *{
    font: $hdrFont;
    font-size: 2em;
}

.greenBody{
    background-color: $green;
}

.orangeBody{
    background-color: $orange;
}