@import '../styles/variables';

.block{
    border: $greenBorder;
    display: flex;
    align-items: center;

    > *{
       width: 50%;
    }

    h1, h2{
        text-align: center;
    }
    h1{
        font-size: 10vw;
    }
    h2{
        font-size: 8vw;
    }

}