@import '../styles/variables';

.container{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    > *{
        flex-basis: 50%;
        max-width: 50%;
        // &:first-child, &:first-child *{
        //     text-align: right;
        // }
    }
}
.pageLink{
    font-size: 15vw;
    letter-spacing: .05em;
    padding: 0 .5rem;
}

.gallery{
    order: 2;
    padding: 15vw 0 0 0;
    h2{
        color: $yellow;

    }
}

.list{
    order: 1;
    padding: 0;
    padding-right: 1.5rem;

    > *{
        width: 100%;
    }
}

.listContinued{
    order: 3;
    flex-basis: 100%;
    min-width: 100%;

    padding: 0;
    display: flex;
    flex-wrap: wrap;
    > *{
        width: calc(50% - .15em);
        margin-bottom: .25em;
    }
    > :nth-child(odd){
        margin-right: .25em;
    }
    > :last-child:nth-child(odd){
        width: 100%;
        margin-right: 0;
    }
    @include lg {
        > *{
            width: 100%;
            margin-bottom: .25em;
            margin-right: 0;
        }
    }
}