@import '../styles/variables';

.grid{
    display: inline-grid;   
    width: auto;
    margin: 0 auto;

    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);

    grid-template-areas: 
      "rd ."
      "rd list";

    h2{
        font-size: 15vw;
        letter-spacing: .05em;
    }

    @include md {
        grid-template-areas: 
        "rd"
        "list";
        grid-template-columns: repeat(1, 1fr);
    }
}

.gridSeciton{
    padding: 0 .8em;
}

.leftCol{
    text-align: right;
}

.readings{
    grid-area: rd;
    a:focus, a:hover,
    a:focus *, a:hover *{
        outline: none; 
        color: $yellow;
    }
}

.list{
    grid-area: list;
}

