@import "../../styles/_variables";

.nav{
    padding: 1.5rem 5vw;
    border-bottom: $whiteBorder; 

    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .2s border;

    @include sm {
      flex-direction: column;
      h1{
        font-size: 4em;
        margin-bottom: 1em;
      }
    }

    h1{
        font-size: 2em;
        padding: 1rem;
    }

    .link{
      font-weight: 200;
      text-decoration: none; 
      padding: 1em 3.5vw; 
      transition: .3s all; 
    }
    a{
      border: 1px solid rgba(255, 255, 255, 0);
    }

    a:hover,
    a:focus,
    a:hover *,
    a:focus *{
        color: $yellow;
    }
    a:focus{
      outline: none;
      border: 1px solid white;
    }

    &.altBorder{
        border-bottom: $greenBorder;

        .link{
            &:hover,
            &:focus{
                color: $green;
            }
        }
    }
}